* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
    font-family: 'Beleren Bold';
}


header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: white;
    font-family: 'Beleren SmallCaps Bold';
}

main {
    flex-grow: 1;
    background-color: #E1C681;
}

section {
    display: flex;
    width: 60rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6.25rem auto;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    color: #ffc226;
    background-size: cover;
    background-position: center;
    border-radius: 9px;
    margin: .15rem;
    text-shadow: 2px 3px 5px #000000;
    width: 12.5rem;
    height: 17.5rem;
}

article div{
    background-color: rgba(0, 0, 0, .33);
    padding: .2rem;
    width: 100%;
}